.palavra-longa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.imagem-elefante {
  max-width: 15%; /* Ajusta a imagem ao tamanho do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 20px; /* Espaço abaixo da imagem */
  border-radius: 8px; /* Bordas arredondadas para um visual agradável */
}
    
.quadrados-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.letras-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.quadrado, .letra {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #f0f0f0;
  border: 2px solid #61dafb;
  border-radius: 5px;
}

.letra {
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

.verificar-btn {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verificar-btn:hover {
  background-color: #218838;
}

/* Media Queries */
@media (max-width: 425px) {
  .imagem-elefante {
    max-width: 50%; /* Aumenta o tamanho relativo da imagem para telas menores */
    margin-bottom: 15px; /* Reduz o espaço abaixo */
  }

  .quadrados-container, .letras-container {
    flex-wrap: wrap; /* Permite quebrar linhas em telas menores */
    gap:2px;
    justify-content: center; /* Centraliza os itens no mobile */
  }

  .quadrado, .letra {
    width: 30px; /* Reduz o tamanho dos quadrados no mobile */
    height: 30px;
    font-size: 16px; /* Ajusta o tamanho da fonte */
  }
}