.exercicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.imagem-casa {
  max-width: 20%; /* Ajusta a imagem ao tamanho do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 20px; /* Espaço abaixo da imagem */
  border-radius: 8px; /* Bordas arredondadas para um visual agradável */
}
@media (max-width: 425px) {
  .imagem-casa {
    max-width: 50%; /* Aumenta o tamanho relativo da imagem para telas menores */
    margin-bottom: 15px; /* Reduz o espaço abaixo */
  }
}

.espaco-palavra {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.letras-disponiveis {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.letra-bloco {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #f0f0f0;
  border: 2px solid #61dafb;
  border-radius: 5px;
  cursor: pointer;
}

.letra-bloco.invisivel {
  visibility: hidden; /* Oculta a letra já utilizada */
}

.letra-preenchida {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #61dafb;
  color: white;
  border-radius: 5px;
}

.btn-verificar {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-verificar:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
