.silabas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.imagem-cavalo {
  max-width:15%; /* Ajusta a imagem ao tamanho do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 20px; /* Espaço abaixo da imagem */
  border-radius: 8px; /* Bordas arredondadas para um visual agradável */
}

.quadrados-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.silabas-opcoes {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.quadrado, .silaba {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #f0f0f0;
  border: 2px solid #61dafb;
  border-radius: 5px;
}

.silaba {
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

.verificar-btn {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verificar-btn:hover {
  background-color: #218838;
}
